<!doctype html>
<html lang="en">

<head>
	<title>Hoarder Helper</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	{{!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> --}}
	<script src="https://kit.fontawesome.com/e6979a7c66.js"></script>

	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>

  <!--External CSS-->
  <link rel="stylesheet" href="/assets/css/style.css">
  <style>
	  .gmailicon{
		  width:40px;
		  height: auto;
	  }
  </style>

<body>
	<!-- TOP NAV -->
	<nav class="navbar navbar-light bg-light">
		<a class="navbar-brand" href="/">
			<i class="fas fa-warehouse"></i>
			Hoarder Helper
		</a>
		<div>
			<ul class="nav justify-content-end">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				{{#if user}}
				<li class="nav-item">
					<a class="nav-link" href="/auth/logout">Sign Out</a>
				</li>
				{{else}}
				<li class="nav-item">
					{{!-- <a class="nav-link" href="/auth/google">Sign In</a> --}}
					<a class="nav-link" href="/auth/google">Sign In with Google+</a>
				</li>
				{{/if}}
        {{#if user}}
				<li class="nav-item">
					<a class="nav-link" href="/profile">Profile</a>
				</li>
        {{/if}}
				{{#if user}}
				<img src='{{user.thumbnail}}' class="rounded-circle float-right gmailicon" alt="profile picture">
				{{/if}}
			</ul>
		</div>
	</nav>

	{{{ body }}}



<!-- Footer -->
{{!-- <div class="card footer">
    <div class="card-footer">
        Real User's Comments
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>The site was so easy to use!</p>
            <footer class="blockquote-footer">The best in it's class - HANDS DOWN. <cite title="Source Title">Jonathan
                    Bae Jerano</cite>
            </footer>
        </blockquote>
    </div>
</div> --}}

	<!-- Optional JavaScript -->
		<!--External Javascript files-->
	{{!-- <script src="/assets/js/post.js"></script> --}}
	<script src="/assets/js/update.js"></script>
	<script src="/assets/js/update-profile.js"></script>
	<script src="/assets/js/userHomePage.js"></script>
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>

</body>

</html>