<!-- JUMBOTRON -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Hoarder Helper</h1>
        <p class="lead">Our mission is to connect people who have no space with friendly hosts who have plenty of it.
        </p>
        <br>
        <br>
        <!-- SEARCH BAR -->
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Enter a Zip Code" aria-label="zipcode"
                aria-describedby="button-addon2">
            <div class="input-group-append">
                <a href="/listings"><button class="btn-outline-secondary" type="button" id="button-addon2">Search for
                        Storage</button></a>
            </div>
        </div>
    </div>
</div>

<!-- SECOND HALF OF HOMEPAGE -->
<div class="container">
    <div class="row">
        {{#each listings}}
        {{#if available}}
        <div class="card" style="width: 18rem;">
            <img src="{{this.img_url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text">${{this.price}}/month</p>
                <a href="#" class="btn btn-primary">view</a>
            </div>
        </div>
        {{/if}}
        {{/each}}
    </div>
</div>

<br>
<br>
<!-- Footer -->
<div class="card fixed-bottom">
    <div class="card-footer">
        Real User's Comments
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>The site was so easy to use!</p>
            <footer class="blockquote-footer">The best in it's class - HANDS DOWN. <cite title="Source Title">Jonathan
                    Bae Jerano</cite>
            </footer>
        </blockquote>
    </div>
</div>


<script src="/assets/js/index.js"></script>