<!-- JUMBOTRON -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Hoarder Helper</h1>
        <p class="lead">Our mission is to connect people who have no space with friendly hosts who have plenty of it.
        </p>
        <br>
        <br>
        <!-- SEARCH BAR -->
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Enter a Zip Code" aria-label="zipcode"
                aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search for Storage</button>
            </div>
        </div>
    </div>
</div>

<!-- SECOND HALF OF HOMEPAGE -->
<div class="container">
    <div class="row">
        <div class="col">CARD WILL GO HERE</div>
        <div class="col">CARD WILL GO HERE</div>
        <div class="col">CARD WILL GO HERE</div>
        <div class="col">CARD WILL GO HERE</div>
    </div>
</div>