<div>Map View
    <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
    </label>
    <div id="mapImage" class="col-lg-6">
        <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Hoarder Helper</h1>
                    <!-- SEARCH BAR -->
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Enter a Zip Code" aria-label="zipcode"
                            aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search for Storage</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                    <!--Grid column-->
                    <div class="col-lg-5 mb-4">
                
                      <!--Form with header-->
                      <div class="card">
                
                        <div class="card-body">
                            <div class="spaces"></div>
                        </div>
                
                      </div>
                      <!--Form with header-->
                
                    </div>
                    <!--Grid column-->
        <div>Map View
            <label class="switch">
                    <input type="checkbox" checked>
                    <span class="slider round"></span>
            </label>
      <div id="mapImage" class="col-lg-6">
        <div style="overflow:hidden;width: 700px;position: relative;">
            <iframe width="700" height="440"
                src="https://maps.google.com/maps?width=700&amp;height=440&amp;hl=en&amp;q=207%20wilkie%20Kaysville%2C%20ut%2084037+(Title)&amp;ie=UTF8&amp;t=&amp;z=10&amp;iwloc=B&amp;output=embed"
                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            <div
                style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;">
                <small style="line-height: 1.8;font-size: 2px;background: #fff;">Powered by
                    <a href="https://embedgooglemaps.com/de/">Embedgooglemaps.com/de/</a>
                    <a href="https://and-route.com/at/">billiger mietwagen bezahlung</a>
                </small>
            </div>
            <style>
                #gmap_canvas img {
                    max-width: none !important;
                    background: none !important
                }
            </style>
        </div>
        <br />
        <div id="map">
        </div>
    </div>
</div>
</div>
</div>

<script>
    $(".spaces").append(
        "<div>" +
        "<br><br><br><div class='card-deck'>" +
        "<div class='card' style='background-color:lightgrey;border:none'>" +
        "<img class='card-img-top' src='http://www.coronadoconcrete.com/wp-content/uploads/2016/03/RV-Pad-3.jpg' alt='Card image cap'>" +
        "<div class='card-body'>" +
        "<div class='card-title'><h4>Trailer Pad</h4 ><h5>Location</h5></div>" +
        "<p class='card-text'><h6>Price</h6></p>" +
        "<p class='card-text'><h6>Size </h6></p>" +
        "<p class='card-text'><small class='text-muted'></small></p>" +
        "<a href=''class='btn btn-primary'> More Info </a>" +
        "</div>" +
        "</div>" +
        "<div class='card' style='background-color:lightgrey;border:none'>" +
        "<img class='card-img-top' src='https://www.publicstorage.com/blog/wp-content/uploads/2018/10/basement-organization-BLOG.jpg' alt='Card image cap'>" +
        "<div class='card-body'>" +
        "<div class='card-title'><h4>Basement</h4><h5>Location</h5></div>" +
        "<p class='card-text'><h6>Price</h6></p>" +
        "<p class='card-text'><h6>Size</h6></p>" +
        "<p class='card-text'><small class='text-muted'></small></p>" +
        "<a href='' class='btn btn-primary'> More Info </a>" +
        "</div>" +
        "</div>" +
        "<div class='card' style='background-color:lightgrey;border:none'>" +
        "<img class='card-img-top' src='https://store.alansfactoryoutlet.com/v/vspfiles/photos/8x16-mini-barn-wood-shed-kit-2.jpg' alt='Card image cap'>" +
        "<div class='card-body'>" +
        "<div class='card-title'><h4>Shed</h4><h5>Location</h5></div>" +
        "<p class='card-text'><h6>Price</h6></p>" +
        "<p class='card-text'><h6>Size</h6></p>" +
        "<p class='card-text'><small class='text-muted'></small></p>" +
        "<a href='' class='btn btn-primary'> More Info </a>" +
        "</div>" +
        "</div>" +
        "</div><br><br></div><hr>");
  
        <script>
                $(".spaces").append(
                    "<div>" +
                      "<br><br><br><div class='card-deck'>" +
                      "<div class='card' style='background-color:lightgrey;border:none'>" +
                      "<img class='card-img-top' src='http://www.coronadoconcrete.com/wp-content/uploads/2016/03/RV-Pad-3.jpg' alt='Card image cap'>" +
                      "<div class='card-body'>" +
                      "<div class='card-title'><h4>Trailer Pad</h4 ><h5>Location</h5></div>" +
                      "<p class='card-text'><h6>Price</h6></p>" +
                      "<p class='card-text'><h6>Size </h6></p>" +
                      "<p class='card-text'><small class='text-muted'></small></p>" +
                      "<a href=''class='btn btn-primary'> More Info </a>" +
                      "</div>" +
                      "</div>" +
                      "<div class='card' style='background-color:lightgrey;border:none'>" +
                      "<img class='card-img-top' src='https://www.publicstorage.com/blog/wp-content/uploads/2018/10/basement-organization-BLOG.jpg' alt='Card image cap'>" +
                      "<div class='card-body'>" +
                      "<div class='card-title'><h4>Basement</h4><h5>Location</h5></div>" +
                      "<p class='card-text'><h6>Price</h6></p>" +
                      "<p class='card-text'><h6>Size</h6></p>" +
                      "<p class='card-text'><small class='text-muted'></small></p>" +
                      "<a href='' class='btn btn-primary'> More Info </a>" +
                      "</div>" +
                      "</div>" +
                      "<div class='card' style='background-color:lightgrey;border:none'>" +
                      "<img class='card-img-top' src='https://store.alansfactoryoutlet.com/v/vspfiles/photos/8x16-mini-barn-wood-shed-kit-2.jpg' alt='Card image cap'>" +
                      "<div class='card-body'>" +
                      "<div class='card-title'><h4>Shed</h4><h5>Location</h5></div>" +
                      "<p class='card-text'><h6>Price</h6></p>" +
                      "<p class='card-text'><h6>Size</h6></p>" +
                      "<p class='card-text'><small class='text-muted'></small></p>" +
                      "<a href='' class='btn btn-primary'> More Info </a>" +
                      "</div>" +
                      "</div>" +
                      "</div><br><br></div><hr>");
                      
                      $(document).ready(function(){
                        $("span").click(function(){
                            $("#mapImage").toggle();
                        });
                        });
                </script>
</html>

    $(document).ready(function () {
        $("span").click(function () {
            $("#mapImage").toggle();
        });
    });
</script>