{{!-- <div class="wrapper">
    <div class="jumbotron" style="background-color: white "> --}}
        
        
<div class="container">
    <div class="row">
        <div class="col-md-4" style="padding-top: 30px">
            <img src="/assets/img/instruction_img2.png" alt="display_img" style="border: 1px solid #5477E8" class="img-thumbnail createListing-img">
        </div>
        <div class="col-md-8" style="padding-top: 30px">
            <h2 class="post-title" style="color:#5477E8;">Create a New Listing</h2>
            <hr>
            <form id="usrform" class="needs-validation" novalidate action="/api/storage/post" method="POST">
                <div class="form-group">
                    <label for="validationCustom01">Title:</label>
                    <input id="title" type="text" class="form-control" placeholder="title" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a valid Title.
                    </div>
                </div>
                <div class="form-group">
                    <label for="validationCustom01">Address:</label>
                    <input id="address" type="text" class="form-control" placeholder="address" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a valid Address.
                    </div>
                </div>
                <div class="form-group">
                    <label for="validationCustom03">City:</label>
                    <input id="city" type="text" class="form-control" placeholder="city" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a valid city.
                    </div>
                </div>
                <div class="form-group">
                    <label for="validationCustom01">State Code: (must be two letters) </label>
                    <input id="state" type="text" class="form-control" placeholder="state" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a valid State.
                    </div>
                </div>
                <div class="form-group">
                    <label for="validationCustom01">Zip Code:</label>
                    <input id="zip" type="number" class="form-control" placeholder="zip" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a valid Zip Code.
                    </div>
                </div>
                <div class="form-group">
                    <label for="validationCustom01">Category:</label>
                    <select id="category" style="border: 1px solid #5477E8">
                        <option value="mostSecured">MostSecured</option>
                        <option value="moreSecured">MoreSecured</option>
                        <option value="secured">Secured</option>
                        <option value="open">Open</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="validationCustom01">Secure :</label>
                    <select id="secure" style="border: 1px solid #5477E8">
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="validationCustom01">Price:</label>
                    <input id="price" type="number" class="form-control" placeholder="price" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a valid Number.
                    </div>
                </div>
                <div class="form-group">
                    <label for="validationCustom01">Image URL:</label>
                    <input id="img_url" type="file" class="form-control" placeholder="img_url" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a valid URL.
                    </div>
                </div>
                <div class="form-group">
                    <label for="validationCustom01">Description:</label>
                    <textarea id="description" class="form-control" rows="5" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a valid Description.
                    </div>
                </div>
                <div class="form-group">
                    <input id="customerId" type="number" class="form-control" value={{user.customer_id}} placeholder="customer_id" readonly style="display:none ">
                </div>
                <div class="text-center" style="item-align:center">
                <button id="submit"  type="submit" class="btn btn-primary post-button" >Post</button>
                <button id="cancel" type="cancel" class="btn btn-primary post-button" >Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>   
{{!-- {{/each}}  --}}
{{!-- </div>
</div> --}}
<br>
<br>
	<!-- Footer -->
	<div class="card footer">
		<div class="card-footer" style="border-top: 1px solid #5477E8;border-bottom: 1px solid lightslategrey">
			Real User's Comments
		</div>
		<div class="card-body">
			<blockquote class="blockquote mb-0">
				<p>The site was so easy to use!</p>
				<footer class="blockquote-footer">The best in it's class - HANDS DOWN. <cite
						title="Source Title">Jonathan
						Bae Jerano</cite>
				</footer>
			</blockquote>
		</div>
	</div>
<script src="/assets/js/post.js"></script> 
